.logo-login {
  bottom: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
}

.logo-login img {
  margin-bottom: -30px;
}

@media (min-width: 740px) {
  .logo-login img {
    margin-bottom: 5px;
  }
}
